{% extends 'master.html' %}

{% block title %}
Details of Member :  {{myMember.firstName}} {{myMember.lastName}} 

{%endblock%}

{% block content %}
<pre>
    {{ member.firstName }}
    {{ member.lastName }}
    {{ member.phone }}
    {{ member.join_date }}
</pre>
<div class="myCards">
    <div class="member_removed">

        <h1> Succesfully removed Member from database</h1>
        <h3>Member details :</h3>
        
        <p>FirstName : {{member.firstName}} </p>
        <p>Last Name: {{member.lastName}} </p>
        <p>Phone : {{member.phone}}</p>
        <p>Joined Date : {{member.join_date}}</p>
    </div>
    <br>
    <p>Back to <a href="/members"><strong>Members</strong></a></p>


</div>
{%endblock%}