.form{
    margin: 10%;
    padding: 20px;
    width: 70%;
}
.h1-header{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    justify-content: center;
    text-align: center;
    font-weight: 300;

}
/* Custom CSS for form-group */
.form-group {
    margin-bottom: 20px; /* Adds space between form groups */
}

/* You can add additional styling if needed */
.form-group label {
    font-weight: bold; /* Makes form labels bold */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 100%; /* Makes input fields take the full width of their container */
    padding: 10px; /* Adds padding inside input fields */
    border: 1px solid #ccc; /* Adds a border to input fields */
    border-radius: 4px; /* Rounds the corners of input fields */
}

/* Customize the submit button */
.btn-primary {
    background-color: #007bff; /* Change the button's background color */
    color: #fff; /* Change the button's text color to white */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove the button's border */
    border-radius: 4px; /* Round the corners of the button */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.btn-primary:hover {
    background-color: #0056b3; /* Change the button's background color on hover */
}

